@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--background, #f6f6f6);
}
.restaurants .restaurants__title {
  font-size: 24px;
  color: black;
  padding-left: 20px;
  padding-top: 47px;
  padding-bottom: 15px;
}
.restaurants .restaurants__card {
  margin: 20px;
  height: 251px;
  align-self: stretch;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.254);
}
.restaurants .restaurants__card .new {
  display: flex;
  justify-content: right;
  width: 100%;
}
.restaurants .restaurants__card .new .new_button {
  position: absolute;
  z-index: 1;
  background-color: #99e2d0;
  color: #008766;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.restaurants .restaurants__card img {
  width: 100%;
  height: 160px;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurants__card .restaurants__click {
  color: black;
  text-decoration: none;
}
.restaurants .restaurants__card .restaurants__card__content {
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.restaurants .restaurants__card .coeur {
  position: absolute;
  right: 5%;
  width: 22px;
  height: 22px;
  border-radius: 0;
  padding: 1px;
  opacity: 1;
}
.restaurants .restaurants__card .coeur_liked {
  position: absolute;
  right: 5%;
  width: 24px;
  height: 24px;
  border-radius: 0;
  transition: 0.1s;
  opacity: 0;
}
.restaurants .restaurants__card .coeur_liked:hover {
  opacity: 1;
}

.menu {
  border-radius: 20px 20px 0px 0px;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  gap: 40px;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}
.menu .coeur {
  position: absolute;
  right: 5%;
  width: 22px;
  height: 22px;
  border-radius: 0;
  padding: 1px;
  opacity: 1;
}
.menu .coeur_liked {
  position: absolute;
  right: 5%;
  width: 24px;
  height: 24px;
  border-radius: 0;
  transition: 0.1s;
  opacity: 0;
}
.menu .coeur_liked:hover {
  opacity: 1;
}
.menu .menu__part .menu__part__title {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-decoration: underline #99e2d0 2px;
          text-decoration: underline #99e2d0 2px;
}
.menu .menu__part .menu__part__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu .menu__part .menu__part__items .menu__part__card {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.453);
}
.menu .menu__part .menu__part__items .menu__part__card:hover .check {
  width: 60px;
  margin-left: 5px;
}
.menu .menu__part .menu__part__items .menu__part__card .menu__part__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  align-items: center;
}
.menu .menu__part .menu__part__items .menu__part__card .menu__part__content span {
  padding-right: 10px;
}
.menu .menu__part .menu__part__items .menu__part__card .menu__part__content .menu__part__card__description {
  font-size: 15px;
  font-weight: 300;
  padding: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.menu .menu__part .menu__part__items .menu__part__card .menu__part__content .menu__part__card__title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu__part .menu__part__items .menu__part__card .menu__part__content p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menu__part .menu__part__items .menu__part__card .check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background-color: #99e2d0;
  height: 100%;
  width: 0px;
  border-radius: 0px 10px 10px 0px;
  transition: 0.4s;
}

/* animation */
/*fin animations*/
.menu__button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.menu__button .center__explore-button {
  border: none;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(175deg, #9356dc 0%, #ff79da 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
}

/* reponsive menu*/
@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu {
    width: 70%;
  }
}
/*Header*/
header {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header .header__logo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 14px 0px 13px 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.header .header__logo img {
  height: 30px;
}
.header .header__localisation {
  display: flex;
  background: var(--grey-2, #eaeaea);
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  z-index: 1;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px;
  text-align: center;
  width: 100%;
  background: var(--background, #f6f6f6);
  padding-bottom: 57px;
}
.center h1 {
  padding: 0px 20px 10px 20px;
  height: 68px;
  flex-shrink: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.center p {
  color: var(--grey, #353535);
  font-weight: 300;
  padding: 0px 20px 27px 20px;
  height: 46px;
}
.center .center__explore-button {
  border: none;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(175deg, #9356dc 0%, #ff79da 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
}

/* fontionnement*/
.fonctionnement {
  width: 100%;
  height: 400px;
  padding-top: 48px;
}
.fonctionnement h2 {
  padding-left: 20px;
  padding-bottom: 26px;
}
.fonctionnement .fonctionnement__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 20px 30px;
}
.fonctionnement .fonctionnement__list .fonctionnement__button {
  display: flex;
  flex-direction: row;
  max-width: 322px;
  width: 100%;
  height: 72px;
  align-items: center;
  gap: 27px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-bottom: 27px;
  padding-right: 10px;
}
.fonctionnement .fonctionnement__list .fonctionnement__button h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.fonctionnement .fonctionnement__list .fonctionnement__button .fonctionnement__button__number {
  flex-shrink: 0;
  border: 1px solid #9356dc;
  background-color: #9356dc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
  margin-left: -13px;
}
.fonctionnement .fonctionnement__list .fonctionnement__button img {
  width: 16px;
}

/* header menu */
.img-menu {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #353535;
  padding-bottom: 22px;
}
footer .footer__title {
  padding: 22px;
  color: #eaeaea;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}
footer .footer__item {
  padding: 0px 22px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #eaeaea;
  font-family: "Roboto";
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 30px;
  }
  footer .footer__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  width: 100%;
}

/*responsive Mobile*/
@media screen and (min-width: 768px) {
  .fonctionnement {
    height: 200px;
    width: 85%;
  }
  .fonctionnement .fonctionnement__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  .restaurants h2 {
    padding-left: 7.5%;
  }
  .restaurants .restaurants__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  .restaurants .restaurants__items .items__top {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: auto;
  }
  .restaurants .restaurants__items .items__bottom {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: auto;
  }
  .restaurants .restaurants__items .restaurants__card {
    max-width: 490px;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */