.barMode {
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 80px;
  border-radius: 25px;
  border: 2px solid rgba(83, 82, 82, 0.085);
  background: linear-gradient(145deg, #f1f1f1, #f5f0f0);
  box-shadow: inset 6px 6px 12px #b8b9be, inset -6px -6px 12px #fff,
    6px 6px 12px #b8b9be, -6px -6px 12px #fff;

  &.dark-mode {
    background: #2d2d2d;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: inset 20px 20px 60px #151414, inset -20px -20px 60px #5d5d5d,
      20px 20px 60px #090a0c, -20px -20px 60px #252a30;
  }

  .buttonLight {
    margin: 3px;
    border-radius: 50%;
    width: 34px;
    transition: margin-left 0.3s ease;

    @at-root .dark-mode & {
      margin-left: 45px;
    }
  }
}

body {
  background-color: rgb(235, 235, 235);

  &.dark-mode {
    background-color: #272727;
  }
}

.navItem {
  &.dark-mode {
    border: 3px solid rgba(31, 31, 31, 0.457);
    background: #25272a;
    box-shadow: 20px 20px 60px #090a0c, -20px -20px 60px #252a30;
  }
}

.dark-mode {
  .nav-link,
  h1,
  h2,
  li,
  p {
    color: rgb(214, 214, 214);
  }
}
