.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 4;
  box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.599);
  .modalImage {
    height: 800px;
    width: 800px;
  }
  .logoGithub img {
    width: 40px;
  }
  .carrouselScreen {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
    top: 300px;

    .screenImage {
      height: 80px;
      width: 100px;
      margin: 20px;
    }
  }
  .pagination {
    position: absolute;
    left: 20px; /* Ajustez la position de la pagination verticale */
    top: 35%; /* Positionnez la pagination verticale au milieu de la modal */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }

  .pagination-dot {
    width: 100px;
    height: 100px;

    margin-bottom: 5px; /* Espacement entre chaque bouton de pagination */

    cursor: pointer;
    transition: transform 1s ease; /* Ajout de la transition pour le glissement */
  }

  .pagination-dot.active {
    border: 2px solid red;
    transform: translateY(
      50px
    ); /* Glissement vers la droite (ajustez la valeur selon vos besoins) */
  }

  .pagination-dot:not(.active) {
    transition: transform 1s ease; /* Ajout de la transition pour le glissement */
  }
}
