nav {
  display: flex;
  justify-content: center;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 0px -9px 20px 20px rgba(71, 71, 71, 0.211);
  border-radius: 0px 0px 20px 20px;
  padding: 40px;

  margin-bottom: 50px;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1500px;
    list-style: none;
    font-size: 1.2rem;
    align-items: center;
    .navItem {
      font-family: "poppins", sans-serif;
      font-weight: 400;
      color: rgb(113, 111, 111);
      height: 20px;
      line-height: 1;
      padding: 10px 20px 10px 20px;
      border-radius: 50px;
      border-style: outset;
      border-color: rgba(255, 255, 255, 0.091);
      background: linear-gradient(145deg, #f1f1f1, #f5f0f0);
      box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
    }
    .homeLogo {
      display: flex;
      align-items: center;
      padding: 40px 30px 40px 30px;
      border-radius: 50%;
      img {
        width: 40px;
        border-radius: 25px;
      }
    }
  }
}
.nav-link {
  text-decoration: none;
  color: #716f6f;
  transition: color 0.3s ease; /* Ajout d'une transition fluide */
}

.nav-link:hover {
  color: #f6963c; /* Changement de couleur au survol */
}
