@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
}

/*Header*/
header {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header .header__logo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 14px 0px 13px 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.header .header__logo img {
  height: 30px;
}
.header .header__localisation {
  display: flex;
  background: var(--grey-2, #eaeaea);
  height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  z-index: 1;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px;
  text-align: center;
  background: var(--background, #f6f6f6);
  width: 100%;
  padding-bottom: 57px;
}
.center h1 {
  width: 100%;
  height: 68px;
  flex-shrink: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.center p {
  color: var(--grey, #353535);
  font-weight: 300;
  padding-bottom: 27px;
  width: 100%;
  height: 46px;
}
.center .center__explore-button {
  border: none;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(175deg, #9356dc 0%, #ff79da 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
}

/* fontionnement*/
.fonctionnement {
  width: 100%;
  height: 400px;
  padding-top: 48px;
}
.fonctionnement h2 {
  padding-left: 20px;
  padding-bottom: 26px;
}
.fonctionnement .fonctionnement__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.fonctionnement .fonctionnement__list .fonctionnement__button {
  display: flex;
  flex-direction: row;
  max-width: 322px;
  width: 100%;
  height: 72px;
  align-items: center;
  gap: 27px;
  box-shadow: 0px 5px 20px black;
  border-radius: 20px;
  margin-bottom: 27px;
  padding-right: 10px;
}
.fonctionnement .fonctionnement__list .fonctionnement__button .fonctionnement__button__number {
  flex-shrink: 0;
  border: 1px solid #9356dc;
  background-color: #9356dc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
}
.fonctionnement .fonctionnement__list .fonctionnement__button img {
  width: 16px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--background, #f6f6f6);
}
.restaurants .restaurants__title {
  font-size: 24px;
  color: black;
  padding-left: 20px;
  padding-top: 47px;
  padding-bottom: 15px;
}
.restaurants .restaurants__card {
  margin: 20px;
  height: 251px;
  align-self: stretch;
  border-radius: 15px;
  box-shadow: 0px 5px 10px black;
}
.restaurants .restaurants__card img {
  width: 100%;
  height: 160px;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurants__card .restaurants__click {
  color: black;
  text-decoration: none;
}
.restaurants .restaurants__card .restaurants__card__content {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurants .restaurants__card .coeur {
  width: 24px;
  height: 24px;
}

/*footer*/
footer {
  width: 100%;
  height: 100%;
  background-color: #353535;
  padding-bottom: 22px;
}
footer .footer__title {
  padding: 22px;
  color: #eaeaea;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}
footer .footer__item {
  padding: 0px 22px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #eaeaea;
}

/* Index */
/*responsive Mobile*//*# sourceMappingURL=style.css.map */